<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Volunet</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="homepage.html">Home</a>
        <a href="jobs.html">Find a Job</a>
        <a href="application.html">My Applications</a>
        <a href="about.html">About</a>
        <a href="signup.html">Sign Up</a>
        <a href="signup.html">Login</a>
      </div>

      <div class="search">
        <p>Find Volunteer Oppurtunities and help your community today</p>
        <form action="#">
            <input type="text"
                placeholder=" Search Courses"
                name="search">
            <input type="text"
                placeholder=" Search Courses"
                name="search">
            <button>
                <i class="fa fa-search"
                style="font-size: 18px;">
            </i>
        </button>
        </form>
      </div>
</body>
</html>