<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="jobs.css">
    <title>Jobs</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="homepage.html">Home</a>
        <a href="jobs.html">Find a Job</a>
        <a href="application.html">My Applications</a>
        <a href="about.html">About</a>
        <a href="signup.html">Sign Up</a>
        <a href="signup.html">Login</a>
      </div>

    <section class="jobs-list" id="jobs">
        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images\wildlife-volunteer.jpg">
                <div class="job-detail">
                    <h4>Help-Desk Assistant</h4>
                    <h3>Nairobi Animal Orphanage</h3>
                    <h3>Location: Langata, Nairobi</h3>
                    <p>Share your passion and love for animals as you volunteer at the help desk to support the running of the Orphanage</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-b" href="#">Organizational Skills</a>
            </div>
            <div class="job-posted">
                Posted 35 minutes ago
            </div>
        </div>


        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images/agapechildren.jpg">
                <div class="job-detail">
                    <h4>Teaching Volunteers</h4>
                    <h3>Agape Kindergarten</h3>
                    <h3>Location: Langata, Nairobi</h3>
                    <p>Agape Kindergarten is seeking teaching volunteers for a 3 month period</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-b" href="#">Enthusiastic</a>
            </div>
            <div class="job-posted">
                Posted 2 hours ago
            </div>
        </div>

        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images\teachingatcommcenter.jpg">
                <div class="job-detail">
                    <h4>Teaching Volunteer</h4>
                    <h3>Mateni Community Center</h3>
                    <h3>Location: Umoja 1, Nairobi</h3>
                    <p>Our community center is seeking tutors for children between grade 7 to grade 9,who visit the center after school.</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-b" href="#">Passionate</a>
            </div>
            <div class="job-posted">
                Posted 8 hours ago
            </div>
        </div>

        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images\kesho-girls.jpg">
                <div class="job-detail">
                    <h4>Art Teaching Assistant</h4>
                    <h3>Kesho Art School</h3>
                    <h3>Location: Kilimani, Nairobi</h3>
                    <p>Share your passion for art and mould creative kids here at Kesho Art School</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-b" href="#">Creative</a>
            </div>
            <div class="job-posted">
                Posted 8 hours ago
            </div>
        </div>

        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images/mazingira-cleanupcommittee.jpg">
                <div class="job-detail">
                    <h4>Clean-Up Volunteer</h4>
                    <h3>Mazingira Community Center</h3>
                    <h3>Location: Mathare North, Nairobi</h3>
                    <p>Join at the chance to create safe and clean environments for our future. A healthy environment is a happy environment.</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-b" href="#">Communication Skills</a>
            </div>
            <div class="job-posted">
                Posted 14 hours ago
            </div>
        </div>

        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images\maisha-kindergarten.jpg">
                <div class="job-detail">
                    <h4>Teaching Volunteers</h4>
                    <h3>Masisha Primary School</h3>
                    <h3>Location: Riruta Satellite, Nairobi</h3>
                    <p>Our School is seeking teaching volunteers for all grades to support the teaching staff. Come join at the chance to build young minds and learn from them as well.</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-b" href="#">Passionate</a>
            </div>
            <div class="job-posted">
                Posted 1 day ago
            </div>
        </div>

        <button class="job-more">More Listings</button>

        
    </section>
    
</body>
</html>