<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
</head>
<body>
    <section class="jobs-list" id="jobs">
        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images\wildlife-volunteer.jpg">
                <div class="job-detail">
                    <h4>Nairobi Animal Orphanage</h4>
                    <h3>Help-Desk</h3>
                    <p>Share your passion and love for animals as you volunteer at the help desk to support the running of the Orphanage</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-a" href="#">Organizational Skills</a>
            </div>
            <div class="job-posted">
                Posted 35 minutes ago
            </div>
        </div>


        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images\pearl-kindergaten.jpg">
                <div class="job-detail">
                    <h4>Pearl Kindergarten</h4>
                    <h3>Teaching Volunteer</h3>
                    <p>Pearl Kindergarten is seeking teaching volunteers for a 3 month period</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-a" href="#">Enthusiatic</a>
            </div>
            <div class="job-posted">
                Posted 2 hours ago
            </div>
        </div>

        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images\teachingatcommcenter.jpg">
                <div class="job-detail">
                    <h4>Mateni Community center</h4>
                    <h3>Teaching Volunteer</h3>
                    <p>Our community center is seeking tutors for children between grade 7 to grade 9,who visit the center after school.</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-a" href="#">Passionate</a>
            </div>
            <div class="job-posted">
                Posted 8 hours ago
            </div>
        </div>

        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images\kesho-girls.jpg">
                <div class="job-detail">
                    <h4>Kesho Art School</h4>
                    <h3>Art Teaching Assistant</h3>
                    <p>Share your passion for art and mould creative kids here at Kesho Art School</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-a" href="#">Creative</a>
            </div>
            <div class="job-posted">
                Posted 8 hours ago
            </div>
        </div>

        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images/mazingira-cleanupcommittee.jpg">
                <div class="job-detail">
                    <h4>Mazingira Community Center</h4>
                    <h3>Clean-Up Volunteer</h3>
                    <p>Join at the chance to create safe and clean environments for our future. A healthy environment is a happy environment.</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-a" href="#">Communication Skills</a>
            </div>
            <div class="job-posted">
                Posted 14 hours ago
            </div>
        </div>

        <div class="job-card">
            <div class="job-name">
                <img class="job-profile" src="images\maisha-kindergarten.jpg">
                <div class="job-detail">
                    <h4>Masisha Primary School</h4>
                    <h3>Teaching-Volunteers</h3>
                    <p>Our School is seeking teaching volunteers for all grades to support the teaching staff. Come join at the chance to build young minds and learn from them as well.</p>

                </div>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">Personable</a>
                <a class="label-a" href="#">Passionate</a>
            </div>
            <div class="job-posted">
                Posted 1 day ago
            </div>
        </div>

        
    </section>
    
</body>
</html>